<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Office365TenantId" value=""/>
    <add key="UserName" value=""/>
    <add key="TagName" value=""/>
    <add key="TagDescription" value=""/>
    <add key="TagNewName" value=""/>
    <add key="TagNewDescription" value=""/>
    <add key="GroupId" value=""/>
  </appSettings>
</configuration>